@import "./variables";
@import "./mixis";

.header {
  width: 100%;
  position: relative;
}

.my-img-slider {
  width: 100vw;
  height: 100vh;
  //object-fit: cover;
}

.header-container {
  height: 100%;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;



  .my-navbar {
    border-bottom: 1px solid $color-brand;
    height: 12.5vh;    
    transition-timing-function: ease-in;
    transition: 0.5s;

    .my-link {
      margin: 2rem;
      @include my-text;
      letter-spacing: 0;
    }
  }

  .my-bg{    
    height: 9vh;
    background-color: $color-form;
    border-bottom: 0;
    
  }

  .my-h1 {
    min-height: 15vh;
    margin-top: 33vh;
    padding: 0;
    width: 105%;
    color: blue;
    @include my-h1;
    .row {
      padding: 0;
    }
  }

  .my-p {
    min-height: 5.5vh;
    margin-top: 4vh;
    padding: 0;
    @include my-text;
  }



  .my-slider {
    min-height: 1vh;
    max-width: 6vw;
    margin-top: 8vh;
    padding: 0;
    display: flex;
    justify-content: space-between;

    .my-bullet {
      background-color: $color-form;
      height: 12px;
      width: 12px;
      border-radius: 50px;
      cursor: pointer;
    }
    .my-bullet-active {
      background-color: $color-brand;
    }
  }
}
